
    <div class="container">
        <div id="title" class="container">
            <h1>GeoTrend<i class="fab fa-twitter-square"></i></h1>
            <h3><em>Find Trending Hashtags In Your Area</em></h3>
        </div><!-- end of header -->

            <form id="form" data-parsley-validate>
                <span>Discover Trends by Location: </span>
                <input id="input-override" type="text" placeholder="Enter Location Here" required=""> <!-- input field for location search -->
                <br>
                <button id="button-override" type="button" class="btn btn-primary">Search</button> <!-- button for submission of search -->
            </form>
        <div class="storage"> <!-- empty container to hold hashtags and other future data --></div>
    </div>

        
</div>

 <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- parsely -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js"></script>
      
    <!-- JQUERY -->
    <script type="text/javascript" src="assets/js/app.js"></script>
