/* DEFAULT STYLING  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
}

/* NAV */
.navigation {
    /* border: 1px solid black; */
    width: 32%;
    text-align: center;
    letter-spacing: .2em;
    word-spacing: 1.2em;
    padding-top: 50px;
    margin-left: 1.5%;
}

.navigation li {
    display: inline-block;
    text-transform: uppercase;
}

.navigation li a {
    color: black;
    text-shadow: .4px .4px;
}

.navigation li a:hover {
    color: darkred;
}



.landing-page {
    background: url("https://i.imgur.com/OGbRDTG.jpg?1") no-repeat center center fixed;
    background-size: cover;
    /* border: 3px solid black; */
    height: 100vh;
    /* overflow: hidden; */
}

/* LOGO STYLING */

.search-content {
    position: absolute;
    top: 20%;
    left: 5.1%;
    width: 100%;
}

.search-content img {
    width: 400px;
}

.search, .motto {
    margin-left: 1%;
}

.motto {
    margin-top: -100px;
    font-family: "Ubuntu";
    font-size: 24px;
    letter-spacing: .1em;
    word-spacing: .2em;
}

/* SEARCH BUTTON STYLE */

#search-bar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid black;
    padding: 5px;
    margin-top: 5%;
    margin-left: -38.5%;
}

.search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #000000;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#search-bar:hover{
    width: 200px;
    cursor: pointer;
}

#search-bar:hover input{
    display: block;
}

#search-bar:hover .fa{
    background: #07051a;
    color: white;
}





/* ABOUT SECTION STYLING */
#about {
    background-color: #FCFCFC;
    height: auto;
    /* border: 3px solid black; */
}

.header-nav li {
    display: inline-block;
    margin: 30px;
    text-decoration: none;
}

.header-nav a {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.info {
    padding-top: -10px;
    /* margin-bottom: 40px; */
}

#bootstrap-override .mission {
    padding-right: 50px;
}

.mission-state, .about-us-info {
    text-align: justify;
}

/* HR STYLES */

hr { 
    height: 30px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
  } 
  hr:before { 
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
  }

/* EMPLOYEE SECTION */

#bootstrap-override .card {
    margin-right: 35px;
}

#bootstrap-override .card-img-top {
    margin-top: 10px;
}

.employees {
    padding-bottom: 20px;
    text-align: center;
}

.employees img {
    width: 400px;
    height: auto;
}

#carouselExampleCaptions {
    margin: auto;
}

#bootstrap-override .carousel {
    width: 400px;
}

#bootstrap-override .carousel-inner {
    margin: auto;
}



/* CONTACT PAGE STYLING */
#contact {
    height: 100hv;
    padding-bottom: 100px;
}

#contact h1 {
    margin-top: 40px;
}

/* FOOTER STYLE */
.footer {
    position: relative;
    background-color: #FCFCFC;
    /* border: 2px solid black; */
    height: 4.5em;
    padding-top: 1em;
}

.back-to-top {
    margin-top: 6px;
    padding-left: 4%;
    font-size: 20px;
    text-decoration-color: #FCFCFC;
}


.social-icons a .fab {
    font-size: 35px;
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
}

.fa-twitter:hover {
    color:#ffc107;
}

.fa-facebook-f:hover {
    color:#ffc107;
}

.fa-instagram:hover {
    color:#ffc107;
}

.fa-reddit-alien:hover {
    color:#ffc107;
}





