/* DEFAULT STYLING  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#tweets::-webkit-scrollbar-track
{
	border-radius: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece
{
	border-radius: 5px;
    background-color: #FCFCFC;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #FCFCFC;
}

::-webkit-scrollbar-track
{
	border-radius: 5px;
    background-color: #FCFCFC;
}

::-webkit-scrollbar-track-piece
{
	border-radius: 5px;
    background-color: transparent;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: transparent;
}

#tweets::-webkit-scrollbar
{
	width: 15px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Merriweather, Lato, sans-serif;
}

.landing-page {
    background: url("https://i.imgur.com/OGbRDTG.jpg?1") no-repeat center center fixed;
    background-size: cover;
    /* border: 3px solid black; */
    height: 100vh;
    /* overflow: hidden; */
}

/* MAIN CONTENT POSITION AND STYLE */
.nav-content {
    /* border: 1px solid black; */
    width: 40%;
    padding-top: 2%;
    margin-left: 5%;
}

.nav-content ul {
    padding-left: 45px;
}

.container li {
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    font-size: 16px;
    text-align: center;
}

.navigation a {
    margin-right: 20px;
    font-size: 12px;
    text-decoration: underline;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

/* LOGO STYLING */

.search-content {
    position: absolute;
    top: 15%;
    left: 8%;
}

.search, .motto {
    margin-left: 10%;
}

.motto {
    margin-top: -25%;
}

/* ABOUT SECTION STYLING */
#about {
    background-color: #FCFCFC;
    height: auto;
    /* border: 3px solid black; */
}

.header-nav li {
    display: inline-block;
    margin: 30px;
    text-decoration: none;
}

.header-nav a {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

#about h1 {
    padding-top: 10px;
    margin-bottom: 40px;
}

#results {
    background: rgba(252, 252, 252, 0.80);
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    float: left;
    margin-left: 43%;
    width: 15vw;
    height: 80vh;
    box-shadow: 2px 2px #cecdcd;
}

.trends {
    margin: 1%;
}

#tweets {
    background: rgba(252, 252, 252, 0.80);
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    float: right;
    margin-right: 8%;
    width: 30vw;
    word-wrap: break-word;
    font-weight: bold;
    height: 80vh;
}

.rawtweets {
    margin: 1%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

/* EMPLOYEE SECTION */

#bootstrap-override .card {
    margin-right: 35px;
}

#bootstrap-override .card-img-top {
    margin-top: 10px;
}

.employees {
    padding-bottom: 20px;
}

/* CONTACT PAGE STYLING */
#contact {
    height: auto;
    padding-bottom: 100px;
}

#contact h1 {
    margin-top: 40px;
}

/* FOOTER STYLE */
.footer {
    position: relative;
    background-color: #FCFCFC;
    /* border: 2px solid black; */
    height: 4.5em;
    padding-top: 1em;
}

.back-to-top {
    padding-left: 4%;
    font-size: 20px;
    text-decoration-color: #FCFCFC;
}


.social-icons a .fab {
    font-size: 35px;
    display: inline-block;
    margin-right: 20px;
}

/* #getrouteresults {
    margin: 20px;
    width: 375px;
    height: 375px;
    padding: 30px;
}  */

#getrouteresults {
    background: rgba(252, 252, 252, 0.80);
    border-radius: 10px;
    /* overflow: scroll; */
    word-wrap: break-word;
    font-size: 1.5rem;
    float: right;
    margin-right: 8%;
    width: 40vw;
    height: auto;
    box-shadow: 2px 2px #cecdcd;
    padding: 20px;
}








